<ons-page ng-controller="ApnProfileListController">
     <ons-toolbar>
         <div class="left">
             <ons-back-button></ons-back-button>
         </div>
         <div class="center">APN Profiles(構成プロファイル一覧)</div>
     </ons-toolbar>

     <ons-list>
         <ons-list-item modifier="chevron" class="profileItem" ng-repeat="profileItem in jsonData.items" ng-click="openConfigProfile($index)">
             <ons-row>
                 <ons-col>
                     <header>
                         <span class="profileItem-name">{{profileItem.name}}</span>
                     </header>
                 </ons-col>
             </ons-row>
         </ons-list-item>
     </ons-list>
 </ons-page>
<!--
<ons-navigator var="onsnav">
</ons-navigator>
-->
