<ons-page ng-controller="CountryListController">
     <ons-toolbar>
         <div class="left">
             <ons-toolbar-button ng-click="menu.toggleMenu()">
               <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
             </ons-toolbar-button>
         </div>
         <div class="center">Choose country(利用国を選ぶ)</div>
     </ons-toolbar>

     <ons-list>
         <ons-list-item modifier="chevron" class="country" ng-repeat="country in countries" ng-click="onsnavi.pushPage('apn-profile-list.html', {items: country})">
             <ons-row>
                 <ons-col>
                     <header>
                         <span class="country-name">{{country.name}}</span>
                     </header>
                 </ons-col>
             </ons-row>
         </ons-list-item>
     </ons-list>
 </ons-page>
